<ul>
  <li><a href="/accueil">Accueil</a></li>
  <li><a href="/adresses">Adresses</a></li>
  <li><a href="/peupler">Peuplement</a></li>
  <li><a href="/detruire">Vider la liste des membres</a></li>
</ul>